build/

# ignore folder for local apigear copy
bin

# goldenmaster test folder
test

# objectapi tooling dependencies
node_modules
.DS_Store
.air.toml
tmp/
tmp2/
# blank project for testing the plugins
goldenmaster/TP_Blank/